<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Timecard Application</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${timecarddata}" class="container my-5">
					<p class="my-5">
						<a href="/timecard/add" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2">Timecard Summary</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">TimeCard Application</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Project Id</th>
										<th>Tasks</th>
										<th>Hours</th>
										<th>Date</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="timecard : ${timecarddata}">
										<td th:text="${timecard.projectid}"></td>
										<td th:text="${timecard.task}"></td>
										<td th:text="${timecard.hours}"></td>
										<td th:text="${timecard.dates}"></td>
										<td><a
											th:href="@{/timecard/edit/{id}(id=${timecard.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/timecard/delete/{id}(id=${timecard.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>